*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

:root {
    --color-primario: #364350; /* Color primario  364350*/
    --color-secundario: #f4f1e8; /* Color secundario */
    --color-terciario: #a0bdd6; /* Color terciario a0bdd6 */
    --color-cuarto: #d3dee7; /* Cuarto color */
    --color-quinto: #5b595b; /* Quinto color */
    --color-sexto: #2b251c; /* Sexto color */
  }



  .navbar-toggler{
    background-color: var(--color-primario);
  }
  
  .navbar-toggler-icon {
    filter: brightness(0) invert(1); /* Cambiar el color a blanco */
  }

  .power {
    background-image: url('img/fondo.png');
    background-size: cover; /* Ajusta la imagen para que cubra toda la sección */
    background-position: bottom; /* Centra la imagen horizontalmente */
    height: 100vh; /* Establece la altura de la sección al 100% de la viewport */
    color: white;
    align-items: center;
    justify-content: center;
}

.texto-hero{
  padding: 250px 1.5rem 1.5rem 1.5rem;
}
/* Estilos para pantallas grandes */
@media (min-width: 990px) {
  .power {
      height: 600px; /* Establece un límite de altura para pantallas grandes */
      background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
  }

  .texto-hero{
    padding: 200px 1.5rem 1.5rem 1.5rem;
    width: 600px;
  }
}


/* Estilos para pantallas anchas */
.navbar-collapse {
  background-color: transparent; /* o cualquier otro valor que desees */
  border-radius: 0;
  margin: 10px; /* o cualquier otro valor que desees */
}

.navbar-nav .nav-item {
  margin: 10px; /* o cualquier otro valor que desees */
}

.navbar-collapse .nav-link {
  color: #333; /* o cualquier otro valor que desees */
  margin-left: 0;
}

.achivements p {
  font-weight: 500;
}

.logro{
  display: flex;
  flex-wrap: wrap;
}

.boton-learn{
  display: flex;
  justify-content: end;
  margin-right: 5px;
}

/* Estilos para pantallas estrechas (menos de 990px) */
@media (max-width: 990px) {
  .navbar-collapse {
      background-color: var(--color-primario);
      border-radius: 0.5rem;
      margin: 0;
      padding: 0.5rem;
  }

  .navbar-nav .nav-item {
      margin: 0;
  }

  .navbar-collapse .nav-link {
      color: white !important;
      margin-left: 15px;
      font-weight: 600; /* Hace el texto más grueso */
      transition: background-color 0.3s, color 0.3s; /* Suaviza la transición del color */
  }

  .navbar-nav .nav-item .boton-sign-in{
    display: flex;
    justify-content: end;
  }
  

  .navbar-collapse .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cambia el color de fondo al pasar el mouse */
    color: var(--color-primario); /* Cambia el color del texto al pasar el mouse */
  }
}


.portfolio {
  text-align: center;
  margin: 40px 0;
}

.portfolio-title {
  font-size: 2rem;
  color: var(--color-primario);
  margin-bottom: 20px;
  font-weight: bold; /* Estilo elegante */
}

.portfolio-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-item {
  position: relative;
  margin: 10px;
  overflow: hidden;
  width: 300px; /* Ancho fijo */
  height: 300px; /* Alto fijo para mantener la forma cuadrada */
}

.portfolio-item img {
  position: static !important; /* Asegúrate de que no esté en posición absoluta */
  left: auto !important; /* Anula el desplazamiento */
  transform: none !important; /* Anula cualquier transformación */
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 100%; /* Ajusta la altura al 100% del contenedor */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor */
  transition: transform 0.3s ease;
  display: block; /* Asegúrate de que la imagen se muestre como un bloque */
}

.portfolio-item:hover img {
  transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Filtro oscuro */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio-item:hover .overlay {
  opacity: 1; /* Mostrar la superposición al pasar el mouse */
}

.text {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}


.portal {
  padding: 40px 20px; /* Espaciado */
  text-align: center; /* Centra el texto */
}

.container {
  max-width: 800px; /* Ancho máximo para mantener el contenido centrado */
  margin: 0 auto; /* Centra el contenedor */
}

.portal .section-title {
  font-size: 2em; /* Tamaño de fuente para el título */
  color: #333; /* Color del texto */
  margin-bottom: 10px; /* Espaciado inferior */
  font-weight: bold;
}

.portal-image {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-bottom: 1px; /* Espaciado inferior */
}

.image-caption {
  font-size: 0.9em; /* Tamaño de fuente para el texto de referencia */
  color: #777; /* Color del texto de referencia */
  margin-bottom: 20px; /* Espaciado inferior */
}

.section-description,
.section-conclusion {
  font-size: 1.1em; /* Tamaño de fuente para descripción */
  color: #555; /* Color del texto */
  margin-bottom: 20px; /* Espaciado inferior */
}

.benefits-list {
  display: flex; /* Habilita flexbox */
  flex-wrap: wrap; /* Permite que los elementos se ajusten a múltiples líneas si es necesario */
  justify-content: center; /* Centra los elementos en la línea */
  list-style-type: none; /* Quita los puntos de la lista */
  padding: 0; /* Quita el padding */
}

.benefits-list li {
  background-color: #e3f2fd; /* Color de fondo de la lista */
  margin: 10px; /* Espaciado entre elementos de la lista */
  padding: 15px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 1em; /* Tamaño de fuente para los elementos de la lista */
  color: #333; /* Color del texto */
  display: flex; /* Habilita flexbox en el elemento de lista */
  flex-direction: column; /* Coloca el contenido en columna */
  justify-content: space-between; /* Asegura que el contenido ocupe todo el espacio disponible */
  height: 100%; /* Asegura que el elemento ocupe el 100% de la altura disponible */
}

.benefit-title {
  text-align: center; /* Centra el texto del título */
  border-bottom: 2px solid #ccc; /* Línea separadora debajo del título */
  padding-bottom: 5px; /* Espaciado interno */
}

@media (max-width: 600px) {
  .section-title {
      font-size: 1.5em; /* Tamaño de fuente más pequeño en pantallas pequeñas */
  }

  .section-description,
  .section-conclusion {
      font-size: 1em; /* Tamaño de fuente más pequeño en pantallas pequeñas */
  }

  .benefits-list {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
}
}


.contact-us {
  background-color: var(--color-primario); /* Color de fondo usando la variable */
  padding: 40px 20px; /* Espaciado */
  text-align: center; /* Centra el texto */
  color: white;
}

.section-title {
  font-size: 2em; /* Tamaño de fuente para el título */
  color: white; /* Color del texto */
  margin-bottom: 20px; /* Espaciado inferior */
}

.contact-us .section-description {
  font-size: 1.1em; /* Tamaño de fuente para la descripción */
  color: white;
  margin-bottom: 30px; /* Espaciado inferior */
}

.contact-form {
  max-width: 600px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centra el formulario */
}

.form-group {
  margin-bottom: 15px; /* Espaciado entre campos */
}

.form-control {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  border: 1px solid white; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
}



@media (max-width: 600px) {
  .section-title {
      font-size: 1.5em; /* Tamaño de fuente más pequeño en pantallas pequeñas */
  }

  .section-description {
      font-size: 1em; /* Tamaño de fuente más pequeño en pantallas pequeñas */
  }
}

.container-about-us {
  margin: 50px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.boton-about-us{
  margin-top: 25px;
}

.btn-link {
  color: var(--color-primario);
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 11px;
  margin-left: 0 !important;
}