*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

:root {
    --color-primario: #364350; /* Color primario  364350*/
    --color-secundario: #f4f1e8; /* Color secundario */
    --color-terciario: #a0bdd6; /* Color terciario a0bdd6 */
    --color-cuarto: #d3dee7; /* Cuarto color */
    --color-quinto: #5b595b; /* Quinto color */
    --color-sexto: #2b251c; /* Sexto color */
  }

  #navbar {
    background-color: transparent;
    transition: background-color 0.5s ease;
}

  #navbar.scrolled {
    background-color: var(--color-primario); 
    transition: background-color 0.5s ease;
}

  .navbar-toggler{
    background-color: transparent;
  }
  
  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3e%3cpath stroke="rgba(255, 255, 255, 1)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"%3e%3c/path%3e%3c/svg%3e');
}

  .power {
    background-image: url('img/fondo.png');
    background-size: cover; /* Ajusta la imagen para que cubra toda la sección */
    background-position: bottom; /* Centra la imagen horizontalmente */
    height: 100vh; /* Establece la altura de la sección al 100% de la viewport */
    color: white;
    align-items: center;
    justify-content: center;
}

.texto-hero{
  padding: 250px 1.5rem 1.5rem 1.5rem;
}
/* Estilos para pantallas grandes */
@media (min-width: 990px) {
  .power {
      height: 600px; /* Establece un límite de altura para pantallas grandes */
      background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
  }

  .texto-hero{
    padding: 200px 1.5rem 1.5rem 1.5rem;
    width: 600px;
  }
}


/* Estilos para pantallas anchas */
.navbar-collapse {
  background-color: transparent; /* o cualquier otro valor que desees */
  border-radius: 0;
  margin: 10px; /* o cualquier otro valor que desees */
}

.navbar-nav .nav-item {
  margin: 10px; /* o cualquier otro valor que desees */
}

.navbar-collapse .nav-link {
  color: var(--color-secundario); /* o cualquier otro valor que desees */
  margin-left: 0;
}


/* Estilos para pantallas estrechas (menos de 990px) */
@media (max-width: 990px) {
  .navbar-collapse {
      background-color: var(--color-primario);
      border-radius: 0.5rem;
      margin: 5px 0 0 0;
      padding: 0.5rem;
  }

  .navbar-nav .nav-item {
      margin: 0;
  }

  .navbar-collapse .nav-link {
      color: white !important;
      margin-left: 15px;
      font-weight: 600; /* Hace el texto más grueso */
      transition: background-color 0.3s, color 0.3s; /* Suaviza la transición del color */
  }

  .navbar-nav .nav-item .boton-sign-in{
    display: flex;
    justify-content: end;
  }
  

  .navbar-collapse .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cambia el color de fondo al pasar el mouse */
    color: var(--color-primario); /* Cambia el color del texto al pasar el mouse */
  }
}


.portair {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.carousel-inner img {
  height: 100vh;
  object-fit: cover;
}

.carousel-indicators {
  bottom: 20px; /* Ajusta la posición vertical */
  left: 20px; /* Ajusta la posición horizontal */
  margin-left: 0; /* Elimina el margen izquierdo predeterminado */
  justify-content: flex-start; /* Alinea los indicadores a la izquierda */
}

.carousel-indicators li {
  width: 30px; /* Ancho más grande */
  height: 30px; /* Alto más grande */
  background-color: rgba(255, 255, 255, 0.6); /* Fondo semi-transparente */
  color: var(--color-primario); /* Color del texto */
  font-size: 104px; /* Tamaño del texto */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px; /* Espacio entre los indicadores */
  border: none; /* Elimina el borde predeterminado */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.carousel-indicators li.active {
  background-color: rgba(255, 255, 255, 1); /* Fondo más opaco para el indicador activo */
  color: var(--color-primario); /* Color del texto para el indicador activo */
}

.carousel-caption {
  position: absolute;
  top: 35%;
  left: 15%;
  color: #fff;
  text-align: left;
}

.carousel-caption h2 {
  font-size: 60px;
  margin-bottom: 20px;
}

.carousel-caption a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.carousel-caption a:hover {
  background-color: var(--color-primario);
}

/* HASTA ACA LOS CAMBIOS DE LA PRIMERA SECCION
 */

.filling .row {
  position: relative;
}

.filling .text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.filling img {
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.filling .row .text-center h1 {
  font-size: 100px;
}

.filling video{
  object-fit: cover;
}

@media (min-width: 992px) {
  .filling img {
      padding: 0;
      height: 100vh;
  }

  .filling video {
    padding: 0;
    height: 100vh;
}

  .filling .area-izq{
    padding-right: 0;
  }

  .filling .area-der{
    padding-left: 0;
  }

  .filling .text-izq h1 {
    background-image: linear-gradient(to right, #000 50%, #fff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .filling .text-der h1 {
    background-image: linear-gradient(to right, #fff 50%, #000 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/*  SECCION ABOUT US */

.aboutus {
  position: relative;
  padding: 100px 0;
  background-color: #fff; /* Color de fondo de la sección */
  overflow: hidden; /* Para asegurar que la marca de agua no se desborde */
}

.aboutus::before {
  content: "A    B    O    U    T";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  font-weight: bold;
  color: rgba(182, 182, 182, 0.1); /* Color de la marca de agua con transparencia */
  z-index: 1; /* Coloca la marca de agua detrás del contenido */
  pointer-events: none; /* Evita que la marca de agua interfiera con el contenido */
  white-space: nowrap;
}

.aboutus .container {
  position: relative;
  z-index: 2; /* Coloca el contenido por encima de la marca de agua */
}

.aboutus .row {
  justify-content: center;
}

.aboutus .col-md-6 {
  padding: 20px;
}

.aboutus p {
  line-height: 1.6;
  color: #7a7a7a; /* Color del texto */
}

.titulo-inv{
  color: transparent;
}

.boton-about {
  display: inline-block; /* Hace que el botón ocupe solo el espacio necesario */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: bold; /* Texto en negrita */
  color: var(--color-primario); /* Color del texto (usando la variable de color primario) */
  background-color: transparent; /* Fondo transparente */
  border: 2px solid var(--color-primario); /* Borde con el color primario */
  border-radius: 5px; /* Bordes redondeados */
  text-align: left; /* Alineación del texto a la izquierda */
  text-decoration: none; /* Elimina el subrayado del enlace */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.boton-about:hover {
  background-color: var(--color-primario); /* Cambia el fondo al color primario al pasar el mouse */
  color: #fff; /* Cambia el color del texto a blanco al pasar el mouse */
}

@media (max-width: 992px) {
  .aboutus::before{
    color: transparent;
  }

}

/* SECCION DE PROJECTS */

.projects {
  margin-top: 15px;
}

.project-background {
  position: relative;
  height: 90vh; /* altura del contenedor de fondo */
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.project-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5; /* opacidad de las imágenes de fondo */
  transition: opacity 0.5s ease-in-out;
}

.project-columns {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  color: #000;
}

.project-column {
  width: 33.33%; /* ancho de cada columna */
  height: 90vh;
  position: relative;
}

.project-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.project-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease-in-out;
}

.project-link:hover .project-image {
  transform: scale(1.2);
}

.project-link:hover .project-background-image {
  opacity: 0.8; /* opacidad de las imágenes de fondo al pasar el mouse */
}