*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

:root {
    --color-primario: #364350; /* Color primario  364350*/
    --color-secundario: #f4f1e8; /* Color secundario */
    --color-terciario: #a0bdd6; /* Color terciario a0bdd6 */
    --color-cuarto: #d3dee7; /* Cuarto color */
    --color-quinto: #5b595b; /* Quinto color */
    --color-sexto: #2b251c; /* Sexto color */
  }

  #navbar {
    background-color: transparent;
    transition: background-color 0.5s ease;
}

  #navbar.scrolled {
    background-color: var(--color-primario); 
    transition: background-color 0.5s ease;
}

  .navbar-toggler{
    background-color: transparent;
  }
  
  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3e%3cpath stroke="rgba(255, 255, 255, 1)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"%3e%3c/path%3e%3c/svg%3e');
}

  .power {
    background-image: url('img/fondo.webp');
    background-size: cover; /* Ajusta la imagen para que cubra toda la sección */
    background-position: bottom; /* Centra la imagen horizontalmente */
    height: 100vh; /* Establece la altura de la sección al 100% de la viewport */
    color: white;
    align-items: center;
    justify-content: center;
}

.texto-hero{
  padding: 250px 1.5rem 1.5rem 1.5rem;
}
/* Estilos para pantallas grandes */
@media (min-width: 990px) {
  .power {
      height: 600px; /* Establece un límite de altura para pantallas grandes */
      background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
  }

  .texto-hero{
    padding: 200px 1.5rem 1.5rem 1.5rem;
    width: 600px;
  }
}


/* Estilos para pantallas anchas */
.navbar-collapse {
  background-color: transparent; /* o cualquier otro valor que desees */
  border-radius: 0;
  margin: 10px; /* o cualquier otro valor que desees */
}

.navbar-nav .nav-item {
  margin: 10px; /* o cualquier otro valor que desees */
}

.navbar-collapse .nav-link {
  color: var(--color-secundario); /* o cualquier otro valor que desees */
  margin-left: 0;
}


/* Estilos para pantallas estrechas (menos de 990px) */
@media (max-width: 990px) {
  .navbar-collapse {
      background-color: var(--color-primario);
      border-radius: 0.5rem;
      margin: 5px 0 0 0;
      padding: 0.5rem;
  }

  .navbar-nav .nav-item {
      margin: 0;
  }

  .navbar-collapse .nav-link {
      color: white !important;
      margin-left: 15px;
      font-weight: 600; /* Hace el texto más grueso */
      transition: background-color 0.3s, color 0.3s; /* Suaviza la transición del color */
  }

  .navbar-nav .nav-item .boton-sign-in{
    display: flex;
    justify-content: end;
  }
  

  .navbar-collapse .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cambia el color de fondo al pasar el mouse */
    color: var(--color-primario); /* Cambia el color del texto al pasar el mouse */
  }
}


.portair {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.carousel-inner img {
  height: 100vh;
  object-fit: cover;
}

.carousel-indicators {
  bottom: 20px; /* Ajusta la posición vertical */
  left: 20px; /* Ajusta la posición horizontal */
  margin-left: 0; /* Elimina el margen izquierdo predeterminado */
  justify-content: flex-start; /* Alinea los indicadores a la izquierda */
}

.carousel-indicators li {
  width: 50px; /* Ancho del indicador */
  height: 50px; /* Alto del indicador */
  background-color: transparent; /* Sin fondo */
  color: rgba(255, 255, 255, 1); /* Color del texto */
  font-size: 24px; /* Tamaño del texto (ajustado para que se vea bien) */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px; /* Espacio entre los indicadores */
  border: none; /* Elimina los bordes predeterminados */
  border-bottom: 2px solid rgba(255, 255, 255, 0.6); /* Solo borde inferior semi-transparente */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  border-radius: 0; /* Sin bordes redondeados */
  text-indent: 0;
}

.carousel-indicators li.active {
  background-color: transparent; /* Sin fondo para el indicador activo */
  color: #fff; /* Color del texto para el indicador activo */
  border-bottom: 2px solid #fff; /* Borde inferior más opaco para el indicador activo */
}

.carousel-caption {
  position: absolute;
  top: 35%;
  left: 15%;
  color: #fff;
  text-align: left;
}

.carousel-caption h2 {
  font-size: 60px;
  margin-bottom: 20px;
}

.carousel-caption a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.carousel-caption a:hover {
  background-color: var(--color-primario);
}

/* HASTA ACA LOS CAMBIOS DE LA PRIMERA SECCION
 */

.filling .row {
  position: relative;
}

.filling-title{
    display: inline-block;
    transition: transform 0.5s ease, opacity 2s ease-in-out;
    position: relative;
    z-index: 2; /* Asegúrate de que esté por encima de otros elementos */
}

.filling-text{
  opacity: 0;
  padding: 15px;
  color: #777777;
  transition: opacity 0.5s ease, transform 0.5 ease;
  text-justify: auto;
}

.area-izq .filling-text{
  transform: translateX(100%);
}

.area-der .filling-text{
  transform: translateX(-100%);
}

.filling .text-izq h1 {
  background-image: linear-gradient(to right, #000 50%, #fff 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.filling .text-der h1 {
  background-image: linear-gradient(to right, #fff 50%, #000 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-center:hover + .area-der .filling-text {
  transition-delay: 0.5s; /* Esperar a que termine la animación del título */
}

.filling .text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.filling img {
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.filling .row .text-center h1 {
  font-size: 100px;
}

.filling video{
  object-fit: cover;
}

@media (min-width: 992px) {
  .filling img {
      padding: 0;
      height: 100vh;
  }

  .filling video {
    padding: 0;
    width: 100%;
    height: 100vh;
}

  .filling .area-izq{
    padding-right: 0;
    display: flex;
    align-items: center;
  }

  .filling .area-der{
    padding-left: 0;
    display: flex;
    align-items: center;
  }

}



.filling-phone {
  position: relative;
  overflow: hidden;
  height: auto; /* Permitir que la altura se ajuste al contenido */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9; /* Fondo claro */
  padding: 20px; /* Espaciado interno */
}

.content-phone {
  text-align: justify; /* Centrar el texto */
  margin-bottom: 20px; /* Espacio entre el contenido y la imagen */
}

.filling-title-phone {
  font-size: 2.5rem; /* Tamaño del título */
}

.filling-text-phone {
  font-size: 1rem; /* Tamaño del texto */
  margin-top: 10px; /* Espacio entre el título y el texto */
}

.image-container-phone {
  display: block; /* Usar flexbox para alinear las imágenes */
  width: 100%;
}

.filling-image-phone {
  width: 100%; /* Ajustar el ancho de las imágenes */
  height: auto; /* Mantener la proporción de las imágenes */
  margin-bottom: 10px;
  object-fit: cover; /* Asegura que la imagen cubra el contenedor */
}


/* APARTADO PARA MODIFICAR TODO PARA TELEFONOS EN FILLING */

@media (max-width: 991px) {
  .filling {
    display: none; /* Ocultar la sección original en móviles */
  }

  .filling-phone {
    display: block; /* Mostrar la nueva sección para móviles */
  }
}

@media (min-width: 992px) {
  .filling {
    display: block; /* Mostrar la sección original en pantallas grandes */
  }

  .filling-phone {
    display: none; /* Ocultar la sección para móviles en pantallas grandes */
  }
}
/*  SECCION ABOUT US */

.aboutus {
  position: relative;
  padding: 100px 0;
  background-color: #fff; /* Color de fondo de la sección */
  overflow: hidden; /* Para asegurar que la marca de agua no se desborde */
}

.aboutus::before {
  content: "A    B    O    U    T";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  font-weight: bold;
  color: rgba(182, 182, 182, 0.1); /* Color de la marca de agua con transparencia */
  z-index: 1; /* Coloca la marca de agua detrás del contenido */
  pointer-events: none; /* Evita que la marca de agua interfiera con el contenido */
  white-space: nowrap;
}

.aboutus .container {
  position: relative;
  z-index: 2; /* Coloca el contenido por encima de la marca de agua */
}

.aboutus .row {
  justify-content: center;
}

.aboutus .col-md-6 {
  padding: 20px;
}

.aboutus p {
  line-height: 1.6;
  color: #7a7a7a; /* Color del texto */
}

.titulo-inv{
  color: transparent;
}

.boton-about {
  display: inline-block; /* Hace que el botón ocupe solo el espacio necesario */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: bold; /* Texto en negrita */
  color: var(--color-primario); /* Color del texto (usando la variable de color primario) */
  background-color: transparent; /* Fondo transparente */
  border: 2px solid var(--color-primario); /* Borde con el color primario */
  border-radius: 5px; /* Bordes redondeados */
  text-align: left; /* Alineación del texto a la izquierda */
  text-decoration: none; /* Elimina el subrayado del enlace */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.boton-about:hover {
  background-color: var(--color-primario); /* Cambia el fondo al color primario al pasar el mouse */
  color: #fff; /* Cambia el color del texto a blanco al pasar el mouse */
}

@media (max-width: 992px) {
  .aboutus::before{
    color: transparent;
  }

}

/* SECCION DE PROJECTS */

.projects {
  margin-top: 15px;
}

.projects a:hover {
  text-decoration: none;
}

.project-container {
    position: relative;
    width: 100vw;
    max-width: 100%; /* Agregar esta línea */
    height: 90vh;
    background-color: #000;
}

.project-background {
  position: relative;
  width: 100vw;
  max-width: 100%;
  background-size: cover;
  background-position: center;
}

.project-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 90vh;
  opacity: 0; /* opacidad de las imágenes de fondo */
  transition: opacity 0.5s ease-in-out;
}

.project-columns {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

.project-column {
  width: 33.33%; /* ancho de cada columna */
  height: 90vh;
  position: relative;
  display: flex; /* agregar display flex para que las columnas se muestren correctamente */
  justify-content: center; /* centrar el contenido de la columna */
  align-items: center; /* centrar el contenido de la columna verticalmente */
}

.project-link {
  display: flex;
  width: 100%;
  height: 90vh;
  position: relative;
  align-items: center;
  justify-content: center;
}

.project-image {
  position: absolute; /* Mantener como relative */
  width: 100%;
  height: 90vh;
  background-size: 100vw 90vh;
  transition: opacity 0.5s ease-in-out;
}

/* Estilos específicos para cada columna */
.proyecto1-link .project-image {
  background-image: url('img/fondo.webp');
  background-position: left; /* Muestra el primer tercio */
}

.proyecto2-link .project-image {
  background-image: url('img/fondo2.webp');
  background-position: center; /* Muestra el segundo tercio */
}

.proyecto3-link .project-image {
  background-image: url('img/fondo3.webp');
  background-position: right; /* Muestra el último tercio */
}

.project-info {
  position: relative;
  z-index: 1; /* agregar z-index para que el texto se muestre encima de la imagen */
  color: #fff; /* agregar color al texto */
  text-align: center; /* centrar el texto */
}

.proyecto1-link:hover ~ .proyecto1 {
  opacity: 1;
  z-index: -1;
}

.proyecto2-link:hover ~ .proyecto2 {
  opacity: 1;
}

.proyecto3-link:hover ~ .proyecto3 {
  opacity: 1;
}

/* SECCION PROJECT EN TELEFONO */

.project-phone {
  margin-top: 15px;
}

.project-container-phone {
  position: relative;
  width: 100%; /* Asegurarse de que ocupe el ancho completo */
  background-color: #000; /* Fondo negro */
}

.project-columns-phone {
  display: flex;
  flex-direction: column; /* Apilar las columnas verticalmente */
  width: 100%; /* Asegurarse de que ocupe el ancho completo */
}

.project-column-phone {
  width: 100%; /* Cada columna ocupa el 100% del ancho */
  height: 180px; /* Ajustar la altura de cada tarjeta */
  position: relative;
  display: flex; /* agregar display flex para que las columnas se muestren correctamente */
  justify-content: center; /* centrar el contenido de la columna */
  align-items: center; /* centrar el contenido de la columna verticalmente */
}

.project-link {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}

.project-image {
  position: absolute; /* Mantener como absolute */
  width: 100%;
  height: 100%;
  background-size: cover; /* Asegura que la imagen cubra el contenedor */
  transition: opacity 0.5s ease-in-out;
}

.project-info {
  position: relative;
  z-index: 1; /* agregar z-index para que el texto se muestre encima de la imagen */
  color: #fff; /* agregar color al texto */
  text-align: center; /* centrar el texto */
}

/* Estilos específicos para cada columna */
.proyecto1-link .project-image {
  background-image: url('img/fondo.webp');
}

.proyecto2-link .project-image {
  background-image: url('img/fondo2.webp');
}

.proyecto3-link .project-image {
  background-image: url('img/fondo3.webp');
}

@media (max-width: 991px) {
  .projects {
    display: none; /* Ocultar la sección original en móviles */
  }

  .project-phone {
    display: block; /* Mostrar la nueva sección para móviles */
  }
}

@media (min-width: 992px) {
  .projects {
    display: block; /* Mostrar la sección original en pantallas grandes */
  }

  .project-phone {
    display: none; /* Ocultar la sección para móviles en pantallas grandes */
  }
}

/* ACA EMPIEZA EL CONTACT US */

.contactus {
  background-color: var(--color-primario); /* Color de fondo suave */
  padding: 50px 20px; /* Espaciado alrededor de la sección */
  text-align: center; /* Centrar el texto */
}

.container {
  max-width: 800px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor */
}

.section-title {
  font-size: 2em; /* Tamaño de fuente del título */
  margin-bottom: 30px; /* Espaciado debajo del título */
  color: white; /* Color del texto */
}

.contact-info {
  display: flex; /* Usar flexbox para alinear los elementos */
  flex-direction: row; /* Colocar los elementos en columna */
  flex-wrap: wrap;
}

.contact-item {
  border-radius: 8px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Centrar el texto */
  margin-bottom: 20px; /* Espacio entre los elementos */

}

@media (max-width: 902px) {
  .contact-item {
      flex: 0 0 100%; /* Hacer que cada elemento ocupe el 100% del ancho */
      max-width: 100%; /* Asegurarse de que no exceda el ancho */
  }

  .row {
      display: flex;
      flex-direction: column; /* Apilar los elementos verticalmente */
      align-items: center; /* Centrar los elementos */
  }
}

.contact-item h3 {
  margin: 0; /* Eliminar margen del título */
  font-size: 1.5em; /* Tamaño de fuente del subtítulo */
  color: white; /* Color del subtítulo */
}

.contact-item p {
  margin: 5px 0 0; /* Espaciado del párrafo */
  color: rgb(197, 197, 197); /* Color del texto del párrafo */
}

.contact-item a {
  color: rgb(197, 197, 197); /* Color del enlace */
  text-decoration: none; /* Sin subrayado */
}

.contact-item a:hover {
  text-decoration: underline; /* Subrayar al pasar el ratón */
}