.portfolio-landing {
    background-image: url('fondo_portfolio.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra toda la sección */
    background-position: bottom; /* Centra la imagen horizontalmente */
    height: 100vh; /* Establece la altura de la sección al 100% de la viewport */
    color: white;
    align-items: center;
    justify-content: center;
}

.titulo-portfolio{
    padding-top: 80vh;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
}
  

/* Estilos para pantallas grandes */
@media (min-width: 990px) {
    .portfolio-landing {
        height: 600px; /* Establece un límite de altura para pantallas grandes */
        background-size: auto;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    }
  
    .titulo-portfolio{
        padding-top: 475px;
        margin-left: auto;
        padding-right: 20%;
        padding-bottom: 1.5rem;
        width: 60dvh;
      }

    .titulo-portfolio h1{
        font-size: 3.5rem;
    }
  }
  

  /* Estilos para pantallas entre 990px y 1200px */
@media (min-width: 990px) and (max-width: 1200px) {
    .titulo-portfolio {
        width: 40dvh; /* Cambia el valor del width solo para este rango */
    }
}
